body{
    margin: 0;
    padding: 0;
    background:linear-gradient(#000,#900,#f00);
}

nav{
    display: flex;
    margin: 0.5em;
    color: #fff;
    align-items:flex-start;
}

.LogoFront{
    padding: 5px;
    margin-left: 5em;
    margin-top: 0;
}

.listaNav{
    display: flex;
    column-gap: 10em;
    margin-left: 5em;
    

}


li{
    text-decoration: none;
}

.LogosNav{
    display: flex;
        margin-left: 20em;
        column-gap: 1em;

}

.logoNav{
    width: 30px;
    height: 30px;
    margin-top: 0.5em;
    padding: 0.2em;
}

